body{
    color: #082b48;
    line-height: 1.5;
    background: linear-gradient(211deg, #fbeeee 0,#9a918c 81%);
}
h1,h2, .nav_items{
    font-family: 'Big Shoulders Display';
}
p{
    line-height: 1.5em;
}
.container{
    width: 90%;
    /* max-width: 980px; */
    margin: auto;
    
}
a{
    text-decoration: none;
    color: #082b48;
}
a:hover{
    color: white;
}
a:visited{
    color: #082b48;
    text-decoration: none;
}
img{
    width: 100%;
    height: auto;
}
.wrapper{
    margin-left: 10%;
}

/* NAVOGATION */
#logo{
    width: 80%;
}
.nav_container{
    height: 100%;
    position: fixed;
    width: 8%;
    background-color: rgb(228,226,226, 0.7);
    display: flex;
    flex-direction: column;
    padding: 2%;
    z-index: 2; /* Stay on top */
    top: 0; /* Stay at the top */
}
.nav_top{
    display: flex;
    height: 50%;
}
.nav_title{
    font-size: 2em;
    font-weight: bold;
    
}
.nav_bottom{
    height: 50%;
}
.nav_items{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}
a:hover, .nav_item:hover{
    color: white;
}
.nav_item{
    padding: auto;
    position: relative;
    cursor: pointer;
}

/* DROPDOWN */
.dropdown{
    display: none;
}
.showDrop{
    display: flex; 
    flex-direction: column;
    position: absolute;
    top: 85%;
    left: 10%;
    padding: 16px 9px;
    background-color: #989898;
    border-radius: 10px;
    animation-name: showDrop;
    animation-duration: 0.3s;
    animation-timing-function: ease-out;

}
@keyframes showDrop{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
/* TOP */
.top{
    background-image: url('/image/IMG_4557\ copy.JPG');
    background-size: cover;
    height: 100%;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    /* position: absolute; */
    padding: 28vh 0 70vh 0 ;
    /* text-align: center; */
    position: relative;

}
.top_title{
    /* padding-left: 60px; */
    font-size: 5.5em;
    font-weight: bold;
    color: white;
    /* padding-left: 15%; */

}
.top_title:nth-child(1){
    font-size: 1.6em;
    padding-bottom: 20px;
    opacity: 0.8;
}
.top_subtitle{
    color: white;
    width: 52%;
    /* padding-left: 15%; */
    padding-top: 20px;
    font-family: sans-serif;
}
.box{
    position: relative;
    z-index: 1;
    position: absolute;
    left: 10%;
    padding-left: 10%;
    padding-top: 5%;
    transition: all ease-in-out 1.5s;
    opacity: 0;
    transform: translateY(20px);
}

.introAppear{
    opacity: 1;
    transform: translateY(0px);
}
.subtitle{
    text-align: center;
    margin: 60px;
    font-size: 2em;
    color: #1f364b;
    font-weight: bold;
    padding: 10% auto ;
}
.row{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}



/* About */
.profilePic{
    filter: drop-shadow(2px 4px 12px grey);
    width: 50%;
    margin: auto;
    border-radius: 20px;
    /* object-fit: contain; */
}
.column.about{
    text-align: center;
}

/* footer */
.footer{
    background-color: #1F364B;
    text-align: right;
    padding: 5px;
    font-size: 0.9em;
    color: #ffffff;
    font-family: sans-serif;
 
}
/* WORK */
.work .column{
    width: 35%;
}

.work .container{
    width: 100%;
}
.column{
    width: 50%;
    display: flex;
    justify-content: center;
}
.row.work{
    justify-content: center;
}
.column.B{
    /* height: 60%; */
    display: block;
    background: rgba(255, 255, 255, .7);
    backdrop-filter: blur(10px);
    border-radius: 1rem;
    margin: 20px;
}
.column.B .subtext{
    color: #082b48;
}


.subtext{
    padding: 10%;
    font-size: 85%;
}
.btn{
    font-size: 1.2em;
    display: block;
    margin: auto;
    height: 40px;
    border-radius: 20px;
    filter: drop-shadow(2);
    background-color: #ffffff;
    border: none;
    margin-bottom: 10px;
    font-size: 1em;
    height: auto;
    padding: 2%;
    width: 50%;
    margin-top: 20px;
}

.btn:hover{
    cursor: pointer;
    outline: none;
    background:#082b48; 
    backdrop-filter: blur(10px);
    outline: none;
    color: white;
}
#resumeButton{
    font-weight: bold;
    color: #897249;
    /* border: 2px solid #897249; */
}
#resumeButton:hover{
    background-color: #897249;
    color: white;
}
.btn.main{
    font-size: 1.3em;
    height: auto;
    padding: 7% 12%;
    border-radius: 50px;
}

.contact_info{
    text-align: center;
    margin-bottom: 40px;
}

/* WEB DESIGN */
#webPage .subtitle{
    font-size: 3em;
}
#webPage .sampleImage{
    width: 100%;
}
#webPage .sampleImage:hover{
    animation: scaleUp;
    animation-duration: 0.3s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}
@keyframes scaleUp {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
    
}
.wrapper_column{
    padding: 5%;
}

.order_column{
    line-height: 2em;
}
.title_column{
    font-size: 1.5em;
    margin-bottom: 1em;
}

#wdA{
    background-color: #897249;
    color: white;
}
#wdA:hover{
    background-color: #fff;
    color: #897249;
}
#wdB{
    background-color: #100769;
    color: white;
}
#wdB:hover{
    background-color: #fff;
    color: #100769;
}


/* UI/UX */
#appPage .sampleImage{
    width: 50%;
    padding: 20px;
    object-fit: contain;
}
#appPage .subtitle{
    font-size: 3em;
}
#appA{
    color:white;
    background-color:#631a41;
}
#appB{
    color: white;
    background-color: #0C9EF9;
}
#appA:hover{
    background-color: white;
    color: #631a41;
}

#appB:hover{
    background-color: white;
    color: #0C9EF9;
}
@media only screen and (max-width: 960px){
    #logo{
        width: 10%;
    }
    .wrapper{
        transform: translateY(3%);
        margin-left: 0px;
    }
    .row{
        flex-direction: column;
        align-items: center;
    }
    .row.work{
        justify-content: space-evenly;
    }
    .column{
        width: 100%;
    }
    .nav_container{
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        height: auto;
        padding: 2em;
    }
    .nav_items{
        flex-direction: row;
        justify-content: space-between;
        font-size: 1.1em;
    }
    .nav_item{
        margin: auto 20px;
    }

    .btn.main{
        padding: 7% 12%;
        width: 100%;
        border-radius: 50px;
    }
    .top_subtitle{
        width: 80%;
    }
    /* Profile */
    .profilePic{
        width: 50%;
        margin: auto;
    }
    /* Work */
    .work .row{
        flex-direction: row;
        

    }
    .column{
        width: 100%;
    }
    /* DROPDOWN */
    .showDrop{
        display: flex; 
        flex-direction: column;
        position: absolute;
        top: 68%;
        right: 6%;
        left: auto;
    }

    
}
@media only screen and (max-width: 660px){
    #logo{
        width: 15%;
    }
    .row{
        flex-direction: column !important;
        align-items: center;
    }
    .column.ui{
        display: flex;
        flex-direction: column;
        /* margin: auto; */
        align-items: center;
    }
    .sampleImage{
        width: 70%;
        
    }
    .work .column {
        width: 80%;
    }
    .top_title{
        padding: 0px;
        font-size: 4em;
        
    }
    .top_subtitle{
        width: 80%;
    }
    .btn.main{
        font-size: 1.1em;   
    }
    .profilePic{
        width: 100%;
        margin: none;
    }
    
}
